html, body, #root {
  height: 100%;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
  color: #1a1a1a;
  background: #f6f6f6;
  -webkit-tap-highlight-color: rgba(26,26,26,0);
  margin: 0;
}


@COLOR_BLUE: #1E90FF;
@COLOR_GRAY_BG: #373737;
@COLOR_GRAY: rgba(45, 43, 43, 0.65) !important;
@COLOR_WHITE: #FFFFFF;
@COLOR_BLACK: #000000;
@COLOR_TITLE: #6C6C6C;
@COLOR_RED: #F5222D;
@COLOR_GRAY_BORDER: #D9D9D9;
@COLOR_GRAY_BG_2: #F5F5F5;
@COLOR_GRAY_BTN_BG: rgba(157, 157, 157, .2);
@COLOR_GRAY_BTN: #9D9D9D;
@COLOR_BLUE_BTN_HOVER_BG: rgba(30, 144, 255, .2);
@COLOR_BLUE_BTN_HOVER: @COLOR_BLUE;

/** --------- Customer AntD Style --------- **/

.ant-layout-header {
  background: @COLOR_WHITE !important;
  >.ant-menu-dark,
  .ant-menu-dark .ant-menu-sub {
    color: @COLOR_GRAY !important;
    background: @COLOR_WHITE !important;
  }
  > .ant-menu-item {
    background: transparent;
    color: @COLOR_WHITE;
  }
  > .ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item > a {
    color: @COLOR_GRAY !important;

  }
}

.ant-table {
  overflow-y: auto;
}


.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
  color: @COLOR_WHITE !important;
}



.ant-menu-dark .ant-menu-item > a,
.ant-menu-submenu-title:hover {
  color: inherit !important;
}

.ant-menu-dark .ant-menu-submenu.ant-menu-item,
.ant-menu-dark .ant-menu-inline.ant-menu-sub .ant-menu-item {
  color: @COLOR_BLACK !important;
}

.ant-menu-submenu.ant-menu-submenu-inline.ant-menu-submenu-open {
  background: @COLOR_WHITE !important;
  color: @COLOR_BLACK !important;
}


.ant-menu-submenu.ant-menu-submenu-inline.ant-menu-submenu-open.ant-menu-submenu-selected {
  background: @COLOR_WHITE !important;
  color: @COLOR_GRAY !important;
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: @COLOR_BLUE;
  > div {
    margin-left:-5px;
  }
  > ul > li {
    margin: 0px;
    padding-left: 36px !important;
  }
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: @COLOR_WHITE !important;
  box-shadow: none !important;
}

.ant-menu-dark .ant-menu-item .ant-menu-item-selected > a,
.ant-menu-dark .ant-menu-item .ant-menu-item-selected > a:hover,
.ant-menu.ant-menu-dark .ant-menu-item-selected > a {
  color: @COLOR_WHITE !important;
  > span {
    color: @COLOR_WHITE !important;
  }
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: transparent !important;
  color: @COLOR_BLACK !important;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected::after,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected::after{
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
  height: 3px;
  background: #0084ff;
  content: "";
}



.ant-btn {
  background-color: @COLOR_GRAY_BTN !important;
  border-color: @COLOR_GRAY_BTN !important;
  color: @COLOR_WHITE !important;
}

.ant-btn-primary {
  background-color: @COLOR_BLUE !important;
  border-color: @COLOR_BLUE !important;
}

.ant-btn-danger {
  color: @COLOR_RED !important;
  background-color: @COLOR_GRAY_BG_2 !important;
  border-color: @COLOR_GRAY_BORDER !important;
  &:hover{
    background-color: @COLOR_RED !important;
    color: @COLOR_GRAY_BG_2 !important;
  }
}

.ant-btn-link {
  color: @COLOR_BLUE !important;
  background-color: transparent !important;
  border-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.ant-table-small > .ant-table-content > .ant-table-body {
  margin: 0 !important;
}

.ant-table-thead {
  > tr > th {
    background-color: @COLOR_GRAY_BTN_BG !important;
    font-weight: 600;
  }
}

.antd-pro-page-header-title {
  color: @COLOR_TITLE !important;
  font-weight: bold !important;
}

.antd-pro-page-header-content {
  color: @COLOR_TITLE !important;
}

.antd-pro-page-header-pageHeader .antd-pro-page-header-row {
  > h1 {
    margin-bottom: 2px;
  }
}

.ant-table-pagination.ant-pagination {
  margin: 10px 5px 5px 0px !important;
  float: none !important;
  text-align: right;
}

.ant-steps-label-vertical .ant-steps-item-content {
  white-space: nowrap;
}

@media only screen and (max-width: 768px) {
  .header :global(.ant-divider-vertical) {
    vertical-align: unset;
  }
  .header .name {
    display: none;
  }
  .header i.trigger {
    padding: 22px 12px;
  }
  .header .logo {
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
  }
  .header .right {
    position: absolute;
    right: 12px;
    top: 0;
    background: #fff;
  }
  .header .right .account .avatar {
    margin-right: 0;
  }
}

.css-vnkjjr {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  max-width: 100%;
  height: auto;
  width: 100%;
  border-radius: 2px;
  margin-bottom: 10px;
  object-fit: cover;
}

.css-w3ttmg {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  color: #175199;
  display: block;
  cursor: pointer;
  font-size: 0;
}

  .ant-tabs-bar {
    border-bottom: none;
  }
  .ant-tabs-ink-bar {
    background-color:transparent !important;
  }
  .ant-tabs-nav .ant-tabs-tab{
    margin: 0 10px 0 0 !important;
  }
  .ant-tabs-nav {
    float: left !important;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding-left: 0;
    list-style: none;
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .Topstory-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 1000px;
    padding: 0 16px;
    margin: 10px auto;
  }
  .Topstory-mainColumnCard {
    -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
  }

  .Topstory-mainColumnCard .Card:not(.Topstory-tabCard) {
    margin-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #f0f2f7;
  }
  .TopstoryItem-isRecommend {
      padding: 20px !important;
  }

  .ContentItem-title {
    font-size: 18px;
    font-weight: 600;
    font-synthesis: style;
    line-height: 1.6;
    color: #1a1a1a;
    margin-top: -4px;
    margin-bottom: -4px;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .Topstory-mainColumn {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 10px;
    margin-bottom: 0;
    width: 694px;
  }

  .TopstoryItem {
    border-radius: 0;
    overflow: visible;
    overflow: initial;
    position: relative;
    padding: 16px 20px;
  }

  .Topstory-tabCard {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .Topstory-noMarginCard {
    margin-bottom: 0!important;
  }


  .Card {
    margin-bottom: 10px;
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }


  @media (min-width: 690px) {
    .RichContent.is-collapsed {
      cursor: pointer;
      -webkit-transition: color .14s ease-out;
      transition: color .14s ease-out;
    }
  }


  .RichContent-cover {
    position: relative;
    width: 190px;
    height: 105px;
    margin-top: -2px;
    margin-right: 18px;
    margin-bottom: 4px;
    float: left;
    overflow: hidden;
    background-position: 50%;
    background-size: cover;
    border-radius: 4px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .RichContent-cover-inner {
    position: absolute;
    top: 50%;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: hidden;
  }

  .RichContent-cover-inner img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
  }

  .RichContent-cover-play {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 48px;
    height: 48px;
    -webkit-box-shadow: 0 0 4px 0 rgba(26,26,26,.16);
    box-shadow: 0 0 4px 0 rgba(26,26,26,.16);
    border-radius: 50%;
  }

  .RichContent-cover+.RichContent-inner {
      margin-top: 16px;
  }
  .RichContent-inner {
      margin-top: 9px;
      margin-bottom: -4px;
      overflow: hidden;

      img {
        width: 100%;
        overflow: hidden;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
      }
  }

  // .RichContent.is-collapsed .RichContent-inner {
  //   max-height: 100px;
  // }


  .ContentItem-title+.ContentItem-meta {
    margin-top: 6px;
  }

  .ContentItem-meta {
      font-size: 15px;
      color: #646464;
  }

  .ArticleItem-authorInfo {
    margin-top: 14px;
  }


  .AuthorInfo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }

  .AuthorInfo-avatar {
    vertical-align: top;
  }
  .Avatar {
      background: #fff;
      border-radius: 2px;
  }

  .Avatar--round {
    border-radius: 50% !important;
  }

  .AuthorInfo--plain .AuthorInfo-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 10px;
  }
  .AuthorInfo-content {
      -webkit-box-flex: 1;
      -ms-flex: 1 1;
      flex: 1 1;
      margin-left: 14px;
      overflow: hidden;
  }

  .AuthorInfo-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 15px;
    line-height: 1.1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  .Post-Author .AuthorInfo-name {
    color: #444;
  }

  .AuthorInfo-name {
    font-weight: 600;
    font-synthesis: style;
    color: #444;
  }

  .Popover {
    position: relative;
    display: inline-block;
  }

  .AuthorInfo-detail{
    overflow: hidden;
  }

  .AuthorInfo-badge {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 2px;
    font-size: 14px;
  }

  .AuthorInfo--plain .AuthorInfo-badge>:first-child {
    margin-top: 0;
  }
  .AuthorInfo-badgeText {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #646464;
  }
  .AuthorInfo-name {
    font-weight: 600;
    font-synthesis: style;
    color: #444;
  }

  .Voters {
    color: #8590a6;
  }
  .ArticleItem-extraInfo {
      margin-top: 8px;
      margin-bottom: -3px;
      font-size: 14px;
      color: #8590a6;
  }

  .ArticleItem-image {
    margin-top: 10px;
    width: 100%;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .AuthorInfo--plain .AuthorInfo-badge>:first-child:before {
    content: "\FF0C";
  }

  .RichContent.is-collapsed:not(.RichContent--unescapable) .CopyrightRichText-richText {
    white-space: normal;
    display: inline-block;
    overflow: hidden;
    max-height: 90px;
  }
  @media (min-width: 690px){
    .RichContent.is-collapsed .CopyrightRichText-richText {
      pointer-events: none;
    }

    .RichContent.is-collapsed {
      cursor: pointer;
      -webkit-transition: color .14s ease-out;
      transition: color .14s ease-out;
    }
  }


  .RichContent {
      line-height: 1.67;
  }

  .Post-Main .Post-RichText {
    margin-top: 20px;
  }

  .ztext {
      word-break: break-word;
      line-height: 1.6;
  }

  .ContentItem-more {
    padding: 0 !important;
    margin-left: 4px !important;
    color: #175199 !important;
    margin-bottom: 5px !important;
  }
  .Button--link, .Button--plain {
      height: auto;
      padding: 0;
      line-height: inherit;
      background-color: transparent;
      border: none !important;
      border-radius: 0;
  }

  .TopstoryItem .Button:not(.Button--plain):not(.Button--link){
    line-height: 30px;
    padding: 0 12px;
  }

  .Button--withIcon.Button--link, .Button--withIcon.Button--plain {
    padding: 0;
  }

  .VoteButton--down {
    margin-left: 4px !important;
  }

  .VoteButton {
    padding: 0 10px !important;
    color: #0084ff !important;
    background: rgba(0,132,255,.1) !important;
    border-color: transparent !important;
  }

  .VoteButton.is-active {
    color: #fff !important;
    background: #0084ff !important;
  }

  .Button {
      display: inline-block;
      padding: 0 16px;
      font-size: 14px;
      line-height: 32px;
      color: #8590a6;
      text-align: center;
      cursor: pointer;
      background: none;
      border: 1px solid;
      border-radius: 3px;
  }

  .ContentItem-actions>* {
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  .ContentItem-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 20px;
    margin: 0 -20px -10px;
    color: #646464;
    background: #fff;
    clear: both;
  }
  .ContentItem-action:first-child {
    margin-left: 0;
    width: 100%;
  }
  .ZVideoItem-toolbar {
      padding-left: 0;
      padding-top: 0;
  }
  .ContentItem-action {
      margin-left: 24px;
      font-size: 14px;
  }

  .ContentItem-rightButton {
    margin-left: auto;
  }

  .ContentItem-actions>* {
      -ms-flex-negative: 0;
      flex-shrink: 0;
  }
  .ContentItem-actions {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 10px 20px;
      margin: 0 -20px -10px;
      color: #646464;
      background: #fff;
      clear: both;
  }

.ant-result.ant-result-404 {
  width: 100%;
  margin-top: 4em;
}

.GlobalSideBar {
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
  font-size: 14px;
}

.GlobalWrite, .GlobalWrite-navItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.GlobalWrite-navTitle {
  color: #444 !important;
  font-size: 16px !important;
}

.GlobalWrite-navItem {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 98px;
  flex: 0 0 125px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 94px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.GlobalWrite-navItem i {
  color: #8590a6;
  margin-bottom: 6px;
}
.GlobalWrite {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: visible;
}

.Pc-card {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border-radius: 2px;
  overflow: hidden;
  -webkit-transition: height .3s,margin .3s,opacity .3s;
  transition: height .3s,margin .3s,opacity .3s;
}

.Pc-card img {
  display: block;
  width: 100%;
  border-radius: 2px;
}

.GlobalSideBar-navList {
  width: 100%;
  padding: 8px 0;
}
.GlobalSideBar-navIcon {
  fill: #8590a6;
}

.GlobalSideBar-navLink {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px !important;
  height: 40px !important;
  overflow: hidden !important;
}

.right-base-navItem.GlobalSideBar-navLink {
  height: 65px !important;
}

.GlobalSideBar-navText {
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
  margin: 0 10px;
  text-align: left;
}
.GlobalSideBar-navNumber {
  padding: 0px 10px;
  border-radius: 2px;
  background: #f6f6f6;
  color: #8590a6;
  font-size: 12px;
  height: 32px;
}

.GlobalSideBar-starItem:hover {
  background: @COLOR_BLUE;
  * {
    color: @COLOR_WHITE;
  }
  .GlobalSideBar-navNumber {
    background: transparent !important
  }
}


.form-register .ant-form-item-control {
  line-height: 0 !important;
}

/** edit topic **/

.ColumnPageHeader-Wrapper {
  width: 100%;
  position: sticky !important;
  top: 0 !important;
}

.ColumnPageHeader {
  position: relative;
  width: 100%;
  height: 52px;
  background: #fff;
  background-clip: content-box;
  -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
}
.ColumnPageHeader-content, .ColumnPageHeader-Title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 52px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ColumnPageHeader-Title {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 16px;
}

.ColumnPageHeader-Line {
  height: 29px;
  width: 1px;
  background-color: #ebebeb;
  margin-left: 17px;
}

.WriteIndex-pageTitle {
  font-weight: 600;
  font-synthesis: style;
  color: #1a1a1a;
  margin-right: 20px;
}

.ColumnPageHeader-Button {
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.PublishPanel-wrapper {
  position: relative;
  float: right;
  padding: 0 10px;
}

.PublishPanel-triggerButton:disabled {
  border-color: #bfbfbf;
  color: grey;
}
.Button:disabled {
  cursor: default;
  opacity: .5;
  pointer-events: none;
}
.PublishPanel-triggerButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 .6em;
  min-width: 82px;
  height: 32px;
  line-height: 30px;
}

.Button--primary.Button--blue {
  color: #fff;
  background-color: #0084ff;
}
.CommentEditorV2-singleButton {
  position: absolute;
  right: 16px;
  bottom: 13px;
  line-height: 34px!important;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: opacity .3s ease,-webkit-transform .3s ease;
  transition: opacity .3s ease,-webkit-transform .3s ease;
  transition: opacity .3s ease,transform .3s ease;
  transition: opacity .3s ease,transform .3s ease,-webkit-transform .3s ease;
}
.CommentEditorV2-singleButton {
  position: absolute;
  right: 16px;
  bottom: 13px;
  line-height: 34px!important;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: opacity .3s ease,-webkit-transform .3s ease;
  transition: opacity .3s ease,-webkit-transform .3s ease;
  transition: opacity .3s ease,transform .3s ease;
  transition: opacity .3s ease,transform .3s ease,-webkit-transform .3s ease;
}

.CommentEditorV2--normal.CommentEditorV2--active .CommentEditorV2-singleButton {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.CommentEditorV2--normal.CommentEditorV2--active .CommentEditorV2-singleButton {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.CommentEditorV2-singleButton:disabled {
  cursor: not-allowed;
}
.CommentEditorV2-singleButton:disabled {
  cursor: not-allowed;
}

.FollowButton {
  min-width: 96px;
}

.Button--blue {
  color: #0084ff;
  border-color: #0084ff;
}

.ColumnPageHeader-content {
  position: relative;
  width: 1000px;
  padding: 0 16px;
  margin: 0 auto;
}

.WriteIndexLayout {
  min-height: 660px;
}

.WriteIndexLayout-main {
  margin: 47px auto 0;
  width: 660px;
}

.TopicIndexLayout-main {
  margin: 10px auto 0;
  width: 660px;
}

.WriteCover-previewWrapper {
  min-height: 192px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.WriteCover-wrapper {
  background: #f6f6f6;
  // line-height: 192px;
  color: grey;
  min-height: 192px;
  text-align: center;
}

.ant-upload.ant-upload-select-picture-card {
  width: 100% !important;
  min-height: 192px !important;
}

.Input-wrapper.Input-wrapper--multiline {
  height: inherit;
}
.WriteIndex-titleInput {
  margin: 16px 0;
  border: 0;
  padding: 0;
  height: auto;
  width: 100%;
  position: relative;
}
.Input-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  // width: 180px;
  height: 34px;
  padding:0px;
  font-size: 14px;
  background: #fff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background .2s,border .2s;
  transition: background .2s,border .2s;
}

.WriteIndex-titleInput .Input {
  height: auto;
  min-height: 44px;
  display: block;
  width: 100%;
  border: 0;
  font-size: 32px;
  line-height: 1.4;
  font-weight: 600;
  font-synthesis: style;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.Editable {
  padding: 0;
}
.PostEditor, .PostEditor.is-focus, html[data-theme=dark] .PostEditor, html[data-theme=dark] .PostEditor.is-focus {
  border: 0;
  border-top: 1px solid rgba(26,26,26,.08);
}
.InputLike {
  padding: 4px 10px;
  background: #fff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background .2s,border .2s;
  transition: background .2s,border .2s;
}

.PostEditor-wrapper,
.InputLike.PostEditor.Editable .ql-container.ql-snow {
  min-height: 300px;
}

/** one article **/
.TitleImage {
  display: block;
  margin: 16px auto 0;
  width: 690px;
}

.Post-NormalMain .Post-Header, .Post-NormalMain>div, .Post-NormalSub>div {
  overflow: hidden;
  width: 690px;
  margin: 0 auto;
}

.Post-Main .Post-Title {
  font-weight: 600;
  font-synthesis: style;
  font-size: 24px;
  line-height: 1.22;
  margin: 24px 0;
  word-wrap: break-word;
}

:-webkit-any(article,aside,nav,section) h1 {
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}



.Post-Main, .Post-Sub {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.Post-NormalMain .Post-Header, .Post-NormalMain>div, .Post-NormalSub>div {
  overflow: hidden;
  width: 690px;
  margin: 0 auto;
}

.Post-Author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Post-Author .AuthorInfo {
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
  white-space: nowrap;
  overflow: hidden;
}

.Post-Main .Post-topicsAndReviewer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.Post-NormalMain .Post-Header, .Post-NormalMain>div, .Post-NormalSub>div {
  overflow: hidden;
  width: 690px;
  margin: 0 auto;
}

.Post-Main .Post-Topics .Topic {
  height: 33px;
  font-size: 13px;
  line-height: 33px;
  overflow: hidden;
  margin-bottom: 10px;
}
.TopicList .Topic:not(:last-child) {
  margin-right: 5px;
}
.Tag {
  position: relative;
  display: inline-block;
  height: 30px;
  padding: 0 12px;
  font-size: 14px;
  line-height: 30px;
  color: #0084ff;
  vertical-align: top;
  border-radius: 100px;
  background: rgba(0,132,255,.1);
}
.topic-tags-container {
  margin: 30px auto !important;
}

@media (min-width: 690px){
.RichContent-actions.is-fixed {
    -webkit-box-shadow: 0 -1px 3px 0 rgba(26,26,26,.1);
    box-shadow: 0 -1px 3px 0 rgba(26,26,26,.1);
    margin-bottom: 0;
    width: 100vw!important;
    left: 0!important;
}}
.RichContent-actions.is-fixed {
    border-bottom: env(safe-area-inset-bottom) solid transparent;
    color: #646464;
    background: #fff;
}
.RichContent-actions.is-fixed {
    -webkit-animation: slideInUp .2s;
    animation: slideInUp .2s;
}
.Sticky.is-absolute, .Sticky.is-fixed {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.Sticky.is-fixed {
    position: fixed;
    z-index: 2;
    -webkit-font-smoothing: subpixel-antialiased;
}

/*** topicdetail 回复 */
.Post-Main, .Post-Sub {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.Post-NormalSub .Comments-container {
  border-top: 52px solid transparent;
  margin: -52px auto 0!important;
}
.Post-NormalMain .Post-Header, .Post-NormalMain>div, .Post-NormalSub>div {
  overflow: hidden;
  width: 690px;
  margin: 0 auto;
}
.Comments-container {
  height: 100%;
}


.Post-NormalMain .Post-Header, .Post-NormalMain>div, .Post-NormalSub>div {
  overflow: hidden;
  width: 690px;
  margin: 0 auto;
}
.Recommendations-Main {
  background: #f6f6f6;
  position: relative;
  margin: 24px auto!important;
}

.CommentsV2-withPagination {
  border: 1px solid #ebebeb;
  -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
  background: #fff;
  margin-top: 12px;
  overflow: visible;
  border-radius: 4px;
}

.Topbar-title {
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
}

.CommentsV2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 690px) {
  .CommentTopbar {
    margin: 0 20px;
  }
}

.CommentTopbar {
    padding: 0;
}
.CommentTopbar {
    border-radius: 2px;
}
.Topbar {
    background: #fff;
    border-bottom: 1px solid #f6f6f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    padding: 0 20px;
}

.CommentEditorV2--normal.CommentEditorV2--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 70px;
}
.CommentsV2-footer {
  padding: 12px 20px;
  background: #fff;
  border-top: 1px solid #ebebeb;
}
.CommentEditorV2--normal {
  position: relative;
  -webkit-transition: padding-right .3s ease;
  transition: padding-right .3s ease;
}
.CommentsV2-footer {
  border-top: none!important;
}

.CommentEditorV2-inputWrap--active {
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
  border: 1px solid #8590a6;
  background-color: #fff;
}
.CommentEditorV2-inputWrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  background-color: #f6f6f6;
}

.CommentEditorV2--normal .CommentEditorV2-input {
  overflow: hidden;
  width: 100%;
  padding: 0 !important;
}
.Editable {
  padding: 0;
}
.CommentEditorV2-input {
  border: none;
  font-size: 15px;
}
.InputLike {
  padding: 4px 10px;
  background: #fff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background .2s,border .2s;
  transition: background .2s,border .2s;
}

.CommentEditorV2-input .Dropzone {
  min-height: auto!important;
}
.Editable-content {
  padding: 6px 12px;
  cursor: text;
}
.Dropzone {
  position: relative;
}

/**话题详情评论列表**/
.NestComment {
  position: relative;
}

.NestComment--rootComment {
  position: relative;
}

.NestComment .NestComment--child {
  position: relative;
  padding-left: 33px;
}

.CommentsV2-withPagination .CommentListV2 {
  overflow-y: visible;
  max-height: 650px !important;
}
.CommentListV2 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.CommentItemV2 {
  outline: none;
}
.CommentItemV2 {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 12px 20px 10px;
  font-size: 15px;
  border-bottom: 1px solid #f6f6f6;
}

.CommentItemV2-meta {
  position: relative;
  height: 24px;
  padding-right: 3px;
  padding-left: 1px;
  margin-bottom: 4px;
  line-height: 24px;
}

.CommentItemV2-time {
  float: right;
  font-size: 14px;
  color: #8590a6;
}

.CommentItemV2-metaSibling {
  padding-left: 33px;
}

.CommentItemV2-avatar {
  margin-right: 8px;
}

.CommentItemV2-roleInfo {
  margin-right: -8px;
}
.CommentItemV2-reply, .CommentItemV2-roleInfo {
  color: #8590a6;
}

.CommentItemV2-content {
  margin-bottom: 6px;
  line-height: 25px;
}
.CommentItemV2-meta .UserLink-link {
  font-weight: 500;
}

.CommentItemV2-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
  margin-top: 4px;
  margin-bottom: 8px;
}

.more-sub-comment {
  color: #175099 !important;
  cursor: pointer !important;
  margin-top: 30px !important;
}

.more-sub-comment:hover {
  background: #1E90FF;
}

.more-sub-comment:hover * {
  color: #FFFFFF !important;
}

.top-search {
  position: absolute !important;
  width: 300px !important;
  float: left !important;
  left: 500px !important;
  top: 13px !important;
  background: white !important;
}

li {
  list-style-type: none;
}

ol, ul {
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
  font: inherit;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
