html, body, #root {
  height: 100%;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
  color: #1a1a1a;
  background: #f6f6f6;
  -webkit-tap-highlight-color: rgba(26,26,26,0);
  margin: 0;
}


@COLOR_BLUE: #1E90FF;
@COLOR_GRAY_BG: #373737;
@COLOR_GRAY: rgba(45, 43, 43, 0.65) !important;
@COLOR_WHITE: #FFFFFF;
@COLOR_BLACK: #000000;
@COLOR_TITLE: #6C6C6C;
@COLOR_RED: #F5222D;
@COLOR_GRAY_BORDER: #D9D9D9;
@COLOR_GRAY_BG_2: #F5F5F5;
@COLOR_GRAY_BTN_BG: rgba(157, 157, 157, .2);
@COLOR_GRAY_BTN: #9D9D9D;
@COLOR_BLUE_BTN_HOVER_BG: rgba(30, 144, 255, .2);
@COLOR_BLUE_BTN_HOVER: @COLOR_BLUE;

/** --------- Customer AntD Style --------- **/

.ant-layout-header {
  background: @COLOR_WHITE !important;
  >.ant-menu-dark,
  .ant-menu-dark .ant-menu-sub {
    color: @COLOR_GRAY !important;
    background: @COLOR_WHITE !important;
  }
  > .ant-menu-item {
    background: transparent;
    color: @COLOR_WHITE;
  }
  > .ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item > a {
    color: @COLOR_GRAY !important;
  
  }
}

.ant-table {
  overflow-y: auto;
}


.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
  color: @COLOR_WHITE !important;
}



.ant-menu-dark .ant-menu-item > a,
.ant-menu-submenu-title:hover {
  color: inherit !important;
}

.ant-menu-dark .ant-menu-submenu.ant-menu-item,
.ant-menu-dark .ant-menu-inline.ant-menu-sub .ant-menu-item {
  color: @COLOR_BLACK !important;
}

.ant-menu-submenu.ant-menu-submenu-inline.ant-menu-submenu-open {
  background: @COLOR_WHITE !important;
  color: @COLOR_BLACK !important;
}


.ant-menu-submenu.ant-menu-submenu-inline.ant-menu-submenu-open.ant-menu-submenu-selected {
  background: @COLOR_WHITE !important;
  color: @COLOR_GRAY !important;
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: @COLOR_BLUE;
  > div {
    margin-left:-5px;
  }
  > ul > li {
    margin: 0px;
    padding-left: 36px !important;
  }
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: @COLOR_WHITE !important;
  box-shadow: none !important;
}

.ant-menu-dark .ant-menu-item .ant-menu-item-selected > a,
.ant-menu-dark .ant-menu-item .ant-menu-item-selected > a:hover,
.ant-menu.ant-menu-dark .ant-menu-item-selected > a {
  color: @COLOR_WHITE !important;
  > span {
    color: @COLOR_WHITE !important;
  }
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: transparent !important;
  color: @COLOR_BLACK !important;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected::after,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected::after{
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
  height: 3px;
  background: #0084ff;
  content: "";
}



.ant-btn {
  background-color: @COLOR_GRAY_BTN !important;
  border-color: @COLOR_GRAY_BTN !important;
  color: @COLOR_WHITE !important;  
}

.ant-btn-primary {
  background-color: @COLOR_BLUE !important;
  border-color: @COLOR_BLUE !important;
}

.ant-btn-danger {
  color: @COLOR_RED !important;
  background-color: @COLOR_GRAY_BG_2 !important;
  border-color: @COLOR_GRAY_BORDER !important;
  &:hover{
    background-color: @COLOR_RED !important;
    color: @COLOR_GRAY_BG_2 !important;
  }
}

.ant-btn-link {
  color: @COLOR_BLUE !important;
  background-color: transparent !important;
  border-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.ant-table-small > .ant-table-content > .ant-table-body {
  margin: 0 !important;
}

.ant-table-thead {
  > tr > th {
    background-color: @COLOR_GRAY_BTN_BG !important;
    font-weight: 600;
  }
}

.antd-pro-page-header-title {
  color: @COLOR_TITLE !important;
  font-weight: bold !important;
}

.antd-pro-page-header-content {
  color: @COLOR_TITLE !important;
}

.antd-pro-page-header-pageHeader .antd-pro-page-header-row {
  > h1 {
    margin-bottom: 2px;
  }
}

.ant-table-pagination.ant-pagination {
  margin: 10px 5px 5px 0px !important;
  float: none !important;
  text-align: right;
}

.ant-steps-label-vertical .ant-steps-item-content {
  white-space: nowrap;
}

@media only screen and (max-width: 768px) {
  .header :global(.ant-divider-vertical) {
    vertical-align: unset;
  }
  .header .name {
    display: none;
  }
  .header i.trigger {
    padding: 22px 12px;
  }
  .header .logo {
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
  }
  .header .right {
    position: absolute;
    right: 12px;
    top: 0;
    background: #fff;
  }
  .header .right .account .avatar {
    margin-right: 0;
  }
}

.css-vnkjjr {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  max-width: 100%;
  height: auto;
  width: 100%;
  border-radius: 2px;
  margin-bottom: 10px;
  object-fit: cover;
}

.css-w3ttmg {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  color: #175199;
  display: block;
  cursor: pointer;
  font-size: 0;
}

.blog-main-content {
  .ant-tabs-bar {
    border-bottom: none;
  }
  .ant-tabs-ink-bar {
    background-color:transparent !important;
  }
  .ant-tabs-nav .ant-tabs-tab{
    margin: 0 10px 0 0 !important;
  }
  .ant-tabs-nav {
    float: left !important;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding-left: 0;
    list-style: none;
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .Topstory-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 1000px;
    padding: 0 16px;
    margin: 10px auto;
  }
  .Topstory-mainColumnCard {
    -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
  }

  .Topstory-mainColumnCard .Card:not(.Topstory-tabCard) {
    margin-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #f0f2f7;
  }
  .TopstoryItem-isRecommend {
      padding: 20px !important;
  }

  .ContentItem-title {
    font-size: 18px;
    font-weight: 600;
    font-synthesis: style;
    line-height: 1.6;
    color: #1a1a1a;
    margin-top: -4px;
    margin-bottom: -4px;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .Topstory-mainColumn {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 10px;
    margin-bottom: 0;
    width: 694px;
  }

  .GlobalSideBar {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    font-size: 14px;
}
  
  .TopstoryItem {
    border-radius: 0;
    overflow: visible;
    overflow: initial;
    position: relative;
    padding: 16px 20px;
  }

  .Topstory-tabCard {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .Topstory-noMarginCard {
    margin-bottom: 0!important;
  }


  .Card {
    margin-bottom: 10px;
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  
  .RichContent.is-collapsed .RichContent-inner {
    max-height: 100px;
  }

  .RichContent-cover {
    position: relative;
    width: 190px;
    height: 105px;
    margin-top: -2px;
    margin-right: 18px;
    margin-bottom: 4px;
    float: left;
    overflow: hidden;
    background-position: 50%;
    background-size: cover;
    border-radius: 4px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  } 
  .RichContent-cover-inner {
    position: absolute;
    top: 50%;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: hidden;
  }

  .RichContent-cover-play {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 48px;
    height: 48px;
    -webkit-box-shadow: 0 0 4px 0 rgba(26,26,26,.16);
    box-shadow: 0 0 4px 0 rgba(26,26,26,.16);
    border-radius: 50%;
  }

  .RichContent-cover+.RichContent-inner {
      margin-top: 16px;
  }
  .RichContent-inner {
      margin-top: 9px;
      margin-bottom: -4px;
      overflow: hidden;
  }

  .RichContent.is-collapsed .RichContent-inner {
    max-height: 100px;
  }


  .RichContent.is-collapsed:not(.RichContent--unescapable) .CopyrightRichText-richText {
    white-space: normal;
  }
  @media (min-width: 690px){
    .RichContent.is-collapsed .CopyrightRichText-richText {
      pointer-events: none;
    }

    .RichContent.is-collapsed {
      cursor: pointer;
      -webkit-transition: color .14s ease-out;
      transition: color .14s ease-out;
    }
  }


  .RichContent {
      line-height: 1.67;
  }
  .ztext {
      word-break: break-word;
      line-height: 1.6;
  }

  .ContentItem-more {
    padding: 0 !important;
    margin-left: 4px !important;
    color: #175199 !important;
  }
  .Button--link, .Button--plain {
      height: auto;
      padding: 0;
      line-height: inherit;
      background-color: transparent;
      border: none !important;
      border-radius: 0;
  }

  .TopstoryItem .Button:not(.Button--plain):not(.Button--link){
    line-height: 30px;
    padding: 0 12px;
  }

  .Button--withIcon.Button--link, .Button--withIcon.Button--plain {
    padding: 0;
  }

  .VoteButton--down {
    margin-left: 4px !important;
  }

  .VoteButton {
    padding: 0 10px !important;
    color: #0084ff !important;
    background: rgba(0,132,255,.1) !important;
    border-color: transparent !important;
  }

  .VoteButton.is-active {
    color: #fff !important;
    background: #0084ff !important;
  }

  .Button {
      display: inline-block;
      padding: 0 16px;
      font-size: 14px;
      line-height: 32px;
      color: #8590a6;
      text-align: center;
      cursor: pointer;
      background: none;
      border: 1px solid;
      border-radius: 3px;
  }

  .ContentItem-actions>* {
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  .ContentItem-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 20px;
    margin: 0 -20px -10px;
    color: #646464;
    background: #fff;
    clear: both;
  }
  .ContentItem-action:first-child {
    margin-left: 0;
  }
  .ZVideoItem-toolbar {
      padding-left: 0;
      padding-top: 0;
  }
  .ContentItem-action {
      margin-left: 24px;
      font-size: 14px;
  }
  .ContentItem-actions>* {
      -ms-flex-negative: 0;
      flex-shrink: 0;
  }
  .ContentItem-actions {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 10px 20px;
      margin: 0 -20px -10px;
      color: #646464;
      background: #fff;
      clear: both;
  }
}

.ant-result.ant-result-404 {
  width: 100%;
  margin-top: 4em;
}